<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myworker">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Screen.Map.MainMap"></activity>
        <activity android:name=".Screen.Fix.ChonSuaActivity" />
        <activity android:name=".Screen.OTP.XacMinhThoActivity" />
        <activity android:name=".Screen.OTP.OTPActivity" />
        <activity android:name=".Screen.Find.TimThoActivity" />
        <activity android:name=".Screen.Danhsach.Mainthongtin" />
        <activity android:name=".Screen.Reg.RegActivity" />
        <activity android:name=".Screen.OTP.QrcodeTho" />
        <activity android:name=".Screen.Login.LoginWorkerActivity" />
        <activity android:name=".Screen.Danhsach.ThongTinLienHe" />
        <activity android:name=".Screen.OTP.BarnCodeActivity" />
        <activity android:name=".Screen.Danhsach.NapTienVaoVi" />
        <activity android:name=".Screen.Fix.AddDoVatSua" />
        <activity android:name=".Screen.Map.MapTho" />
        <activity android:name=".Screen.Login.MainActivity" />
        <activity android:name=".Screen.Reg.DangKiThoActivity" />
        <activity android:name=".Screen.OTP.XacThucSDTActivity" />
        <activity android:name=".Screen.Login.MainTho" />
        <activity android:name=".Screen.Login.LoginUserActivity" />
        <activity android:name=".Screen.Danhsach.ListDoVatSua" />
        <activity android:name=".Screen.Login.MethodLoginAnReg">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>